# Entorno virtual local (¡Muy importante no copiarlo!)
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Git y configuración de Docker
.git
.gitignore
Dockerfile
.dockerignore

# Archivos de configuración local o variables de entorno
.env
*.log